body {
    margin: 0;
    padding: 0;
}
.box {
    display: flex;
    height: 300px;
    background-color: #000;
}
.item {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
}